@model List<MinneapolisMachines.Models.Specials.Special>

@{
    ViewBag.Title = "Specials";
}

<h3>Specials</h3>
<hr />

@foreach (var special in Model)
{
    <div class="row">
        <div class="col-md-12">
            <div class="border border-dark">
                <h5>@special.Title</h5>
                <p>@special.Description</p>
            </div>
        </div>
    </div>

    <br />
}
